{% extends 'hospital/layout.html' %}

{% block content %}
<br><br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Service Name</th>
        <th scope="col">Department</th>
        <th scope="col">Availablility</th>
      </tr>
    </thead>
    <tbody>
      {% for service in services %}
      <tr>
        <td>{{ service.service_name }}</td>
        <td>{{ service.department }}</td>
        <td>{{ service.is_available|yesno:"Yes,No" }}</td>
      </tr>
      {% endfor %}
</table>
<br><br>
{% endblock %}
