{% extends 'hospital/layout.html' %}

{% block content %}
<br><br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Blood Group</th>
        <th scope="col">Height(in cms)</th>
        <th scope="col">Weight(in kgs)</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
      <tr>
        <td>{{ patient.user.username }}</td>
        <td>{{ patient.blood_group }}</td>
        <td>{{ patient.height_in_cm }}</td>
        <td>{{ patient.weight_in_kg }}</td>
      </tr>
      {% endfor %}
</table>
<br><br>
{% endblock %}
