{% extends 'hospital/layout.html' %}

{% block content %}
<br><br>
<table class="table table-hover">
    
    <caption>
        <br>
        <a href="{% url 'aservice_list' %}">
        All Available Services
        </a>
        <br>
        <br>
        <a href="{% url 'cservice_list' %}">
            All Critical Services 
            </a>
    </caption>
    <thead>
      <tr>
        <th scope="col">Service Name</th>
        <th scope="col">Department</th>
        <th scope="col">Availablility</th>
        <th scope="col">Critical</th>
      </tr>
    </thead>
    <tbody>
      {% for service in services %}
      <tr>
        <td>{{ service.service_name }}</td>
        <td>{{ service.department }}</td>
        <td>{{ service.is_available|yesno:"Yes,No" }}</td>
        <td>{{ service.is_critical|yesno:"Yes,No" }}</td>
      </tr>
      {% endfor %}
</table>
<br><br>
{% endblock %}
